{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="line-text">pellentesque | diam volutpat | commodo sed | egestas sed </div>
<h1>the debating society</h1>
 <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices vitae auctor eu augue. Enim sed faucibus turpis in eu mi. Mi in nulla posuere sollicitudin aliquam. Dignissim convallis aenean et tortor. Cras pulvinar mattis nunc sed blandit libero. Sagittis eu volutpat odio facilisis mauris. A lacus vestibulum sed arcu non odio. Accumsan sit amet nulla facilisi. Urna id volutpat lacus laoreet. Risus sed vulputate odio ut.</p>

</div>

{%endblock%}